{{> navbar}}

<div class="row mt-3" style="margin: auto;">

    <div class="col col-sm-12 col-lg-12 col-md-12">

        <img class="img-fluid" src="/img/personas.png">

    </div>

</div>

<div class="row mt-5" style="margin: auto;">

    <div class="col col-sm-12 col-lg-12 col-md-12">

        <div class="container text-center">

            <h2>Muéstrate tal cual eres, habla con libertad y siéntete cerca de tus seres queridos, estén donde estén, con mensajes y llamadas privados.</h2>

        </div>

    </div>

</div>