<div class="container">

    <a href="/login" type="button" class="btn btn-success mt-3" style="position: absolute;"><i
            class="fas fa-arrow-left"></i> Volver</a>

    <div class="row align-items-center justify-content-center vh-100">

        <div class="col col-lg-6">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">

                <div class="card-header text-center">

                    <div class="row justify-content-center mb-2">

                        <div class="col col-md-12 col-lg-7 col-sm-12">

                            <img src="/img/ws.png" class="w-50">

                        </div>

                    </div>

                    <h4>Registro de Usuario</h4>

                </div>

                <div class="card-body">

                    <form class="row g-3" method="post" action="/registro">

                        <div class="col-md-12">
                            <input type="text" class="form-control fs-5" name="nombre" placeholder="Nombre Completo"
                                value="{{nombre}}" required>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control fs-5" name="username" placeholder="Usuario"
                                value="{{username}}" required>
                        </div>
                        <div class="col-md-12">

                            <input type="password" class="form-control fs-5" name="clave"
                                placeholder="Clave de seguridad" value="" required>
                        </div>

                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-block fs-4" type="submit"><i class="fas fa-sign-in"></i> Registrarse</button>
                        </div>

                    </form>


                </div>

            </div>

        </div>

    </div>


</div>