<div class="d-flex align-items-center resaltar" id="{{_id}}" style="cursor: pointer;">

    <div class="user-pic" style="width: 50px;height: 50px;padding: 2px; margin-right: 15px;">
        <img class="img-fluid img-rounded" style=" height: 100%;width: 100%;" src="/img/user.png" alt="User picture">
    </div>
    <div class="usuario-info">
        <span class="usuario-nombre" style="display: block; font-size: 14px;"><strong>{{nombre}}</strong> ({{username}})
        </span>
        <span class="usuario-status" style="display: block; margin-top: 4px;font-size: 11px;">
            <i class="fa fa-circle" style="color: #525252; margin-right: 4px;font-size: 11px;"></i>
            <span>Offline</span>
        </span>
    </div>

</div>
<hr class="m-1">